.check_ul ul{
    list-style: none;
    list-style-type: none;
} 
.check_ul li:before {
    content: "\2713";
    color: #2cba6c;
    font-weight: bold;
    font-size: 1.2em;
}

.uncheck_ul ul{
    list-style: none;
    list-style-type: none;
} 
.uncheck_ul li:before {
    content: "\274C";
    color: #a4121c;
    font-weight: bold;
    font-size: 1.2em;
}

.reveal b{
    color: #B4886B;
    font-weight: bold;
}

input[type="checkbox"]{
    display: none;
    border: none !important;
    box-shadow: none !important;
}

input[type="checkbox"] + label span {   
    background: url(uncheck.png);
    width: 49px;
    height: 49px;
    display: inline-block;
    vertical-align: middle;
}
.opaque {
    opacity: 0;
}

input[type="checkbox"]:checked + label span {
    background: url(check_2.png);
    width: 49px;
    height: 49px;
    vertical-align: middle;
}

ul.noBullet{
  list-style: none;
}





@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
/* .reveal q{
  width:60%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

.reveal q::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: -3px; 
  top:-3px;
}

.reveal q::after{
  content: '';
} */

/* .reveal q span{
  display:block;
  font-style: normal;
  font-weight: bold; 
} */


.reveal .q{
    font-size:20px;
    width:60%;
    margin:50px auto;
    font-family:Open Sans;
    font-style:italic;
    color: #555555;
    padding:1.2em 30px 1.2em 75px;
    border-left:8px solid #78C0A8 ;
    line-height:1.6;
    position: relative;
    background:#EDEDED;
  }
  
  .reveal .q:before{
    font-family:Arial;
    content: "\201C";
    color:#78C0A8;
    font-size:4em;
    position: absolute;
    left: -3px; 
    top:-3px;
  }
  
  .reveal .q::after{
    content: '';
  }
  
.reveal .q span{
    display:block;
    color:#c1c1c1;
    font-style: normal;
    font-weight: bold;
  }

.reveal  .container{
    display: flex;
    /* align-items: center; */

} 
.reveal .col{
    flex: 1;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction:column;
} 
.reveal .col1{
    flex: 1;
} 
.reveal .col2{
    flex: 3;
} 

.reveal {
  font-size: 32px;
}

.reveal strong {
  font-weight: bold;
color:rgb(237, 86, 86); }