<div class="slides">
<section>
	<h3>Règles du jeu</h3>
	<ul>
		<li>Présence obligatoire au CM, TD et TP</li>
		<li>Utilisation d’ordinateurs portables en CM ou TD interdit</li>
		<li><b>Pas plus de 5mn de retard</b> en cours sinon interdit d’entrer</li>
		<li><font color="blue">Pas possible de s'absenter pendant le cours</font></li>
		<li><font color="blue">Les écouteurs doivent être rangés </font></li>
		<li>Motif d’exclusion du cours :</li>
		<ul>
			<li>Interdiction d’utiliser son téléphone portable ou autre appareil électronique</li>
			<li>Interdiction de manger ou de boire</li>
			<li><b>Bavardage répété</b> (après un avertissement)</li>
			<li><font color="blue">Pas de Facebook en TP</font></li>			
		</ul>
	</ul>
</section>
</div>
